content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "editor buttons"
        "editor output";
}

#editor { 
    grid-area: editor;
    width: 100%;
    min-height: 480px;
}

#buttons {
    grid-area: buttons;
}

#buttons button {
    width: 100%;
}

/*
--black: #000000ff;
--charcoal: #2f4550ff;
--dark-electric-blue: #586f7cff;
--powder-blue: #b8dbd9ff;
--ghost-white: #f4f4f9ff;*/

.output {
    display: flex;
    flex-direction: column;
    grid-area: output;
    background-color: #f4f4f9ff;
    padding: 0 2%;
}

.output pre {
    background-color: #ADADAD;
    flex-grow: 1;
}

.output pre:focus {
    background-color: #CCCCCC;
}

