content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "editor buttons"
        "editor output";
}

#editor { 
    grid-area: editor;
    width: 100%;
    min-height: 480px;
}

#buttons {
    grid-area: buttons;
}

#buttons button {
    width: 100%;
}

.output {
    grid-area: output;
    background-color: lightgrey;
    padding: 0 2%;
}

.output pre {
    height: 80%;
}

